<% content_for(:head) do %>
  <%= javascript_pack_tag 'main' %>
  <%= stylesheet_pack_tag 'main' %>
<% end %>

<% ws_url = Rails.env.production? ? 'wss://immense-spire-48509.herokuapp.com/cable' : 'ws://localhost:3000/cable' %>

<div id="app"
     data-board-slug="<%= @board.slug %>"
     data-ws-url="<%= ws_url %>">
</div>